<nav class="top-navbar" [ngClass]="{'not-home': router.isActive('/',ture)}">
  <button class="navbar-toggler" (click)="sideMenuToggle()" type="button">
    <span class="navbar-toggler-icon">
      <span class="fa fa-bars"></span>
      <!-- <span *ngIf="!isCollapsed" class="fa fa-times"></span> -->
    </span>
  </button>

  <div class="brand-logo">
    <a [routerLink]="['/home']"><strong>MyMatch.tw</strong>
      <!-- <img class="brand-img" src="/assets/imgs/logo.svg" alt="MyMatch" title="MyMatch"> -->
    </a>
  </div>
  <div class="brand-menu">
    <ul>
      <li>
        <a class="" [routerLink]="['/userCondition']" routerLinkActive="router-link-active"><strong>配對條件</strong>
        </a>
      </li>
      <li>
        <a class="" [routerLink]="['/userMatchList/0']" routerLinkActive="router-link-active"> <strong>配對結果</strong>
        </a>
      </li>
    </ul>
  </div>


  <div class="logged-user" *ngIf="authService.isLogin()">
    <!-- <img src="{{authService.currentUser.photoUrl || '../../assets/imgs/user.png'}}" alt=""> -->
    <img class="img-circle rounded-circle" src="{{photoUrl}}" alt="" id="topbar-photo">
    <div class="user-name"><span>{{authService.decodedToken?.unique_name}}</span></div>
    <app-my-messages-alert></app-my-messages-alert>
    <!--
    <a class="logout-icon" (click)="logout()" title="登出(Logout)">
      <span class="fa fa-sign-out fa-2x"></span>
    </a>
    -->
  </div>
  <div class="login" *ngIf="!authService.isLogin()">
    <a class="login-icon" [routerLink]="['auth','login']" routerLinkActive="router-link-active" title="登入(Login) ">
      <span class="fa fa-sign-in fa-2x"></span>
    </a>
  </div>

</nav>
