.top-navbar, .brand-menu, .logged-user, .login {
  display: flex;
  height: 50px;
  margin: 0;
  padding: 0;
}

.brand-logo {
  height: 50px;
  line-height: 50px;
  padding: 0px 3px;
}

.brand-menu>ul{
  display: flex;
  list-style-type: none;
  height: 50px;
  /* align-items: center; */
  /* overflow: hidden; */
  /* background-color: lightgreen; */
}

.brand-menu>ul>li {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0px 8px;
}

.brand-menu a {
  display: block;
  color: black;
  text-align: center;
  /* padding: 10px 10px; */
  /* text-decoration: none; */
}

.logged-user{
  display: flex;
  position: absolute;
  right: 10px;
  margin-right: 1px;
  align-items: center;
}

.logged-user img {
  width: 45px;
  height: 45px;;
  border-radius: 50%;
}

.user-name{
  margin: 0px auto;
  height: 50px;
  line-height: 50px;
}

.user-name span {
  margin: 0px 8px;
}

.logout-icon:hover , .login-icon:hover{
  cursor: pointer;
}

.login{
  display: flex;
  position: absolute;
  right: 10px;
  align-items:center;
}

.navbar-toggler {
  /* display: none; */
}
