<div id="app-container">
  <header id="main-header">
    <app-nav></app-nav>
  </header>
  <div id="main-container">
    <aside id="aside-nav" *ngIf="isSideMenuOpen$ | async">
      <app-main-menu></app-main-menu>
    </aside>
    <section id="main-section">
      <router-outlet></router-outlet>
    </section>
    <!-- <aside id="aside-ads" >
      <div>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-5201440941478106",
              enable_page_level_ads: true
            });
          </script>
      </div>
    </aside> -->
  </div>
  <footer id="main-footer">
    <app-footer></app-footer>
  </footer>
</div>
