* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#top-container {
  display: flex;
  flex-direction: column;
}

#main-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 51px;
}

#header {
  position: fixed;
  top:0;
  z-index: 100;
  background-color: lightsalmon;
  width: 100%;
}

#aside-nav {
  flex: 1 ;
  background-color: lightpink;
}

#main-article {
  flex: 6 ;
  background-color: lightgray;
}

#aside-ads {
  flex: 1 ;
  background-color:lightpink;
}

#footer {
  background-color: lightgreen;
  width: 100%;
}

/* qHD=960*540 HD=1280*720 FHD=1920*1080 QHD=2560*1440 4K=3840*2160  */
@media (max-width: 720px) {
  #main-container {
    display: flex;
    flex-direction: column;
  }
}

