:root {
  --is-aside-open: true;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app-container {
  display: flex;
  flex-direction: column;
}

#main-header {
  position: fixed;
  top:0;
  z-index: 100;
  background-color: lightsalmon;
  width: 100%;
}

#main-container {
  display: block;
  position: relative;
  /* flex-direction: row; */
  /* align-items: stretch; */
  /* margin-top: 51px; */
}


#aside-nav {
  background-color: lightpink;
  width: 200px;
  position: fixed;
  top:50px;
  left: 0;
  z-index: 120;
}

#main-section {
  background-color: lightgray;
  margin-left: 200px;
}

#aside-ads {
  background-color:lightpink;
}

#main-footer {
  background-color: lightgreen;
  width: 100%;
}

/* qHD=960*540 HD=1280*720 FHD=1920*1080 QHD=2560*1440 4K=3840*2160  */
@media (max-width: 720px) {
  #main-container {
    display: flex;
    flex-direction: column;
  }
}

