<div class="main-menu">
  <ul>
    <li>
      <a classa="list-group-item list-group-item-action bg-light" [routerLink]="['/myData/myDetail']"
        routerLinkActive="router-link-active">我的資料
      </a>
    </li>
    <li>
      <a classa="list-group-item list-group-item-action bg-light" [routerLink]="['/myData/myPhotos']"
        routerLinkActive="router-link-active">我的相片
      </a>
    </li>
    <li>
      <a classa="list-group-item list-group-item-action bg-light" [routerLink]="['/myData/myLikers']"
        routerLinkActive="router-link-active">我的最愛
      </a>
    </li>
    <li>
      <a classa="list-group-item list-group-item-action bg-light" [routerLink]="['/myData/myMessages']"
        routerLinkActive="router-link-active">我的訊息
      </a>
    </li>
    <li>
      <a classa="list-group-item list-group-item-action bg-light" [routerLink]="['auth','changePassword']"
        routerLinkActive="router-link-active">變更密碼
      </a>
    </li>
    <li>
      <a classa="list-group-item list-group-item-action bg-light" [routerLink]="['auth','forgetPassword']"
        routerLinkActive="router-link-active">忘記密碼
      </a>
    </li>
    <li>
      <a classa="list-group-item list-group-item-action bg-light" [routerLink]="['auth','register']"
        routerLinkActive="router-link-active">新人註冊
      </a>
    </li>
    <li>
      <a classa="list-group-item list-group-item-action bg-light" [routerLink]="['/home']" (click)="logout()"
        routerLinkActive="router-link-active">登出系統
      </a>
    </li>
  </ul>
</div>
