#menu-wrapper {
  display: flex;
  background-color:green;
}

#menu-wrapper>ul {
  display: flex;
  flex-direction: column;
  width:calc(100vw/8.1);

  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu-wrapper>ul>li {
  display: block;
  flex:1;
  background-color: greenyellow;
}

.list-group-item{
  display: block;
  margin: 1px;
  padding: 15px;
  font-weight: bold;
  background-color:lightpink;
}

.list-group-item:hover {
  background-color:green;
  color: white;
}
@media (max-width: 768px) {
  #menu-wrapper>ul {
    width:calc(100vw);
  }

}
